# Personal config
src/config.py

# Virtual environment
.venv/

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
test.py
*~

# OS-specific files
.DS_Store
Thumbs.db
.nvimlog

# Cache and generated data
data/
logs/
database/
*.db

# Environment variables
.env
